.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.button {
  width: 80px;
  height: 40px;
  padding: 0;
  margin-right: 10px;
  background-color: white;
  border: 1px solid rgb(117 117 126);
  border-radius: 7px;
  color: rgb(117 117 126);
  font-size: 28px;
}

.button:disabled {
  border: 1px solid rgb(230 230 230);
  color: rgb(230 230 230);
}

.button:hover {
  cursor: pointer;
}

.input {
  height: 40px;
  width: calc(100% - 80px - 20px);
  border: none;
  color: rgb(117 117 126);
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  padding: 0;
  caret-color: rgb(117 117 126);
}

.input:focus {
  outline: none;
}