.container {
  width: 35%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 18px;
  font-weight: 400;
  color: rgb(117 117 126);
  text-decoration: none;
}

.active {
  text-decoration: underline;
}