.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
}

.title {
  font-size: 70px;
  letter-spacing: 15px;
  font-weight: 400;
  color: rgb(233 217 216);
  margin: 0;
}